  <swiper-container class="mySwiper review-list" slides-per-view="3">
    <swiper-slide class="review-slide">
        <img class="reviews-img" 
                    srcset="../img/reviews/victoria@1x.jpg 1x, ../img/reviews/victoria@1x.jpg 2x" 
                    src="../img/reviews/victoria@2x.jpg" 
                    alt="Victoria Dobrzhanska" />
                    <h5 class="reviews-person">Victoria Dobrzhanska</h5>
                    <p class="reviews-text">I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.</p>
    </swiper-slide>
    <swiper-slide>Slide 2</swiper-slide>
    <swiper-slide>Slide 3</swiper-slide>
    <swiper-slide>Slide 4</swiper-slide>
    <swiper-slide>Slide 5</swiper-slide>
    <swiper-slide>Slide 6</swiper-slide>
    <swiper-slide>Slide 7</swiper-slide>
    <swiper-slide>Slide 8</swiper-slide>
    <swiper-slide>Slide 9</swiper-slide>
  </swiper-container>



 

