<div class="modal-subscribe-backdrop is-hidden" data-modal-subscribe>
    <div class="modal-subscribe">
        <div class="modal-subscribe-img">
            <button class="close-button white" type="button" data-modal-close-subscribe>
                <svg class="" width="" height="">
                    <use href="../img/icons/sprite.svg#icon-x-close"></use>
                </svg>
            </button>
        </div>
        <div class="modal-subscribe-subscription">
            <h2 class="modal-subscribe-title">Explore our <br> <span class="top-accent">new chocolate</span> first!</h2>
            <form>
                <span class="modal-subscribe-form">      
                    <input class="modal-subscribe-form-input"
                        type="email" 
                        name="email" 
                        placeholder="Enter your email"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                        title="Enter your current email address in format e-mail@domain.com"
                        required
                    >
                    <button class="modal-subscribe-submit-button" type="submit">Subscribe</button>
                </span>
            </form>
        </div>   
    </div>
</div>