<section class="our-products section">
    <div class="container">
        <h2 class="our-products-title">our <span class="top-accent">products</span></h2>
        <div class="swiper our-products-slider">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide our-products-slide">
                <div class="our-products-item">
                    <img class="product-img" 
                    srcset="../img/products/orange@1x.jpg 1x, ../img/products/orange@2x.jpg 2x"
                    src="../img/products/orange 1x.jpg"
                    alt="orange" />
                    <h5 class="our-product-name">orange</h5>
                    <p class="our-product-descr">Dark chocolate</p>
                    <button class="our-product-button" type="button">45 UAH</button>
                </div>
              </div>
              <div class="swiper-slide our-products-slide">
                <div class="our-products-item">
                    <img class="product-img" 
                    srcset="../img/products/apple-cranberry@1x.jpg 1x, ../img/products/apple-cranberry@2x.jpg 2x"
                    src="../img/products/apple-cranberry@1x.jpg"
                    alt="apple-cranberry" />
                    <h5 class="our-product-name">APPLE&CRANBERRY</h5>
                    <p class="our-product-descr">Milk chocolate</p>
                    <button class="our-product-button" type="button">50 UAH</button>
                </div>
              </div>
              <div class="swiper-slide our-products-slide">
                <div class="our-products-item">
                    <img class="product-img" 
                    srcset="../img/products/lime-seasalt@1x.jpg 1x, ../img/products/lime-seasalt@2x.jpg 2x"
                    src="../img/products/lime-seasalt@1x.jpg"
                    alt="lime-seasalt" />
                    <h5 class="our-product-name">lime&sea salt</h5>
                    <p class="our-product-descr">Dark chocolate</p>
                    <button class="our-product-button" type="button">66 UAH</button>
                </div>
              </div>
              <div class="swiper-slide our-products-slide">
                <div class="our-products-item">
                    <img class="product-img" 
                    srcset="../img/products/pineapple@1x.jpg 1x, ../img/products/pineapple@2x.jpg 2x"
                    src="../img/products/pineapple@1x.jpg"
                    alt="pineapple" />
                    <h5 class="our-product-name">pineapple</h5>
                    <p class="our-product-descr">Dark chocolate</p>
                    <button class="our-product-button" type="button">54 UAH</button>
                </div>
              </div>
              <div class="swiper-slide our-products-slide">
                <div class="our-products-item">
                    <img class="product-img" 
                    srcset="../img/products/classic@1x.jpg 1x, ../img/products/classic@2x.jpg 2x"
                    src="../img/products/classic@1x.jpg"
                    alt="classic" />
                    <h5 class="our-product-name">Classic</h5>
                    <p class="our-product-descr">Milk chocolate</p>
                    <button class="our-product-button" type="button">45 UAH</button>
                </div>
              </div>
              <div class="swiper-slide our-products-slide">
                <div class="our-products-item">
                    <img class="product-img" 
                    srcset="../img/products/honey@1x.jpg 1x, ../img/products/honey@2x.jpg 2x"
                    src="../img/products/honey@1x.jpg"
                    alt="honey" />
                    <h5 class="our-product-name">honey</h5>
                    <p class="our-product-descr">Milk chocolate</p>
                    <button class="our-product-button" type="button">50 UAH</button>
                </div>
              </div>
              <div class="swiper-slide our-products-slide">
                <div class="our-products-item">
                    <img class="product-img" 
                    srcset="../img/products/roasted-fruit@1x.jpg 1x, ../img/products/roasted-fruit@2x.jpg 2x"
                    src="../img/products/roasted-fruit@1x.jpg"
                    alt="roasted-fruit" />
                    <h5 class="our-product-name">Roasted fruits</h5>
                    <p class="our-product-descr">Dark chocolate</p>
                    <button class="our-product-button" type="button">66 UAH</button>
                </div>
              </div>
              <div class="swiper-slide our-products-slide">
                <div class="our-products-item">
                    <img class="product-img" 
                    srcset="../img/products/classic-w@1x.jpg 1x, ../img/products/classic-w@2x.jpg 2x"
                    src="../img/products/classic-w@1x.jpg"
                    alt="classic-w" />
                    <h5 class="our-product-name">Classic</h5>
                    <p class="our-product-descr">White chocolate</p>
                    <button class="our-product-button" type="button">54 UAH</button>
                </div>
              </div>
            </div>
    
            <!--
            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
                <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span>
                <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span>
                <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span>
                <span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 4" aria-current="true"></span>
                <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 5"></span>
                <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 6"></span>
                <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 7"></span>
            </div>
            -->
    
            <div class="swiper-pagination"></div>
    
            
          
          </div>
        
    


    </div>
</section>