<section class="top-sellers section">
    <div class="container">
        <h2 class="top-sellers-title"><span class="top-accent">top</span> sellers</h2>
        <ul class="top-seller-list">
            <li class="top-seller-item">
                <picture>
                    <source srcset="../img/topsellers/topseller-one-mobile@1x.jpg 1x, ../img/topsellers/topseller-one-mobile@2x.jpg 2x" media="(min-width:320px)" />
                    <source srcset="../img/topsellers/topseller-one-tablet@1x.jpg 1x, ../img/topsellers/topseller-one-tablet@2x.jpg 2x" media="(min-width:768px)" />
                    <source srcset="../img/topsellers/topseller-one-desktop@1x.jpg 1x, ../img/topsellers/topseller-one-desktop@2x.jpg 2x" media="(min-width:1200px)" />
                    <img class="top-seller-img" src="../img/topsellers/topseller-one-desktop@1x.jpg" alt="dark chocolate" />                
                </picture>                
                <p class="top-seller-descr-mob">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
            </li>
            <li class="top-seller-item">
                <picture>
                    <source srcset="../img/topsellers/topseller-two-mobile@1x.jpg 1x, ../img/topsellers/topseller-two-mobile@2x.jpg 2x" media="(min-width:320px)" />
                    <source srcset="../img/topsellers/topseller-two-tablet@1x.jpg 1x, ../img/topsellers/topseller-two-tablet@2x.jpg 2x" media="(min-width:768px)" />
                    <source srcset="../img/topsellers/topseller-two-desktop@1x.jpg 1x, ../img/topsellers/topseller-two-desktop@2x.jpg 2x" media="(min-width:1200px)" />
                    <img class="top-seller-img" src="../img/topsellers/topseller-two-desktop@1x.jpg" alt="milk chocolate" />               
                </picture>
            </li>
            <li class="top-seller-item choco-bar">
                <picture>
                    <source srcset="../img/topsellers/topseller-three-desktop@1x.jpg 1x, ../img/topsellers/topseller-three-desktop@2x.jpg 2x" media="(min-width:1200px)" />
                    <img class="top-seller-img" src="../img/topsellers/topseller-three-desktop@1x.jpg" alt="chocolate bar" />              
                </picture>
            </li>
        </ul>
        <ul class="top-sellers-info">
            <p class="top-seller-descr">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
            <button class="top-seller-button" type="button">Buy now</button>
        </ul>
    </div>
</section>