.advantages {
    background-color: var(--dark-violet);
}
.advantages-container {
    display: flex;
    max-width: 375px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.advantages-item {
  max-width: 308px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.02em;
  text-align: left;
}

.advantages-item::before {
    content: "";
    display: inline-block;
    width: 62px;
    height: 62px;
    padding: 15px;
    border: 1px solid #FFFFFF80;
    border-radius: 50%;

    margin-bottom: 22px;
}

.advantages-item.icon-taste::before {
    background-image: url(./img/taste.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.advantages-item.icon-price::before {
    background-image: url(./img/price.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.advantages-item.icon-production::before {
    background-image: url(./img/production.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.advantages-title {
  margin-bottom: 16px;
  color: var(--white);
}

.advantages-descr {
    color: #FFFFFFB2;
}

@media screen and (min-width: 768px) {
    .advantages-container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .advantages-list {
        gap: 32px;
    } 
}

@media screen and (min-width: 1200px) {
    .advantages-container {
        max-width: 1200px;
        flex-wrap: nowrap;
    }

    .advantages-list {
        max-width: 1200px;
        flex-wrap: nowrap;
        gap: 88px;
        padding-right: 16px;
        padding-left: 16px;
        
    }

    /*.border:after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 263px;
        top: 125px;
        right: 0;
        width: 124px;
        height: 1px;
        background-color: #ffffff80;
        transform: rotate(90deg);
    }*/
}