  .review-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    margin-bottom: 32px;
}

  .review-slide {
    position: relative;
    width: 335px;
    height: 242px;
    padding: 58px 18px 42px;
    background: var(--white);
    border: 1px solid #1111111A;
    border-radius: 15px;
    box-shadow: 0px 9.049315452575684px 26.571659088134766px 0px #D7E4F940;
}

  .reviews-img {
    position: absolute;
    top: -20%;
    right: 38%;
    width: 80px;
    height: 80px;
    margin-bottom: 18px;

    border-radius: 50%;
}

.reviews-person {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--black);

    margin-bottom: 24px;
}

.reviews-text {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #111111B2;
}