.header {
  display: flex;
}

.logo {
  margin-right: 188px;
}

.nav-list {
  display: flex;
  gap: 24px;
  margin-right: 136px;
}

.nav-link {
  display: flex;
  /*justify-content: right;*/
  gap: 18px;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}
