.header {
  margin-top: 20px;
  margin-bottom: 14px;
}

.header-main {
  display: flex;
  justify-content: space-between;
}

.logo-header {
  display: flex;
  align-items: center;
  gap: 4px;
}

.logo {
  display: inline-flex;
  font-family: Montserrat;
  font-size: 14px;
  font-style: italic;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: left;
  align-items: center;
}

.logo::after {
  content: "";
  display: inline-flex;
  flex-direction: row;
  width: 21px;
  height: 24px;
  background-image: url('../img/chocolate.svg');
  margin-left: 4px;
}

.header-navigation {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    margin-top: 24px;
    margin-bottom: 24px;
  }

}

@media screen and (min-width: 1200px) {
  .header {
    margin-bottom: 32px;
  }

  .logo {
    font-family: Montserrat;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.03em;
    text-align: left;
  }

  .header-navigation {
    display: flex;
    align-items: center;
    gap: 136px;
  }

  .nav-list {
    display: flex;
    gap: 24px;

    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.02em;
  }

  .header .nav-list .nav-item:hover {
    color: var(--orange);
}

.header .nav-social {
    display: flex;
    gap: 18px;
  }

  .social-icon {
    fill: var(--black);
  }

  .social-icon:hover {
    fill: var(--orange);
  }

}