.our-products {
    margin-bottom: 72px;
}

.our-products-title {
    margin-bottom: 32px;
}

.our-products .swiper-slide {
    /*display: flex;
    flex-wrap: wrap;
    gap: 16px;*/
    position: static;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.our-products .swiper-wrapper{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.swiper-wrapper {
    margin-bottom: 20px;
}

.our-products .swiper-slide {
    position: relative;
    /*width: 335px;
    min-width: 306px;
    height: 364px;*/
    background-color: var(--white);
    border: 1px solid #1111111A;
    border-radius: 15px;

    padding: 32px 52px;
}

.product-img {
    margin-bottom: 8px;
}

.our-product-name {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.our-product-descr {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #111111B2;
    margin-bottom: 18px;
}

.our-product-button {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    color: var(--black);
    border: 1px solid #1111111A;
    border-radius: 100px;
    background-color: linear-gradient(0deg, rgba(17, 17, 17, 0.1), rgba(17, 17, 17, 0.1)),
                linear-gradient(0deg, #FAFAFA, #FAFAFA);
    padding: 8px 20px;

    margin: 0 auto;
    display: block;
}

.our-products .swiper-pagination {
    position: relative;
    /*margin-bottom: 32px;*/
}

.our-products .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
}

.our-products .swiper-pagination-bullet-active {
    background-color: var(--orange);
    width: 28px !important;
    border-radius: 20px;
}

.our-products
.swiper-pagination-horizontal.swiper-pagination-bullets
.swiper-pagination-bullet {
  margin-left: 8px;
}

.swiper-horizontal>.swiper-pagination-bullets,.swiper-pagination-bullets.swiper-pagination-horizontal,.swiper-pagination-custom,.swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom,0px) !important;
}

@media screen and (max-width: 374px) {
    .choco-bar {
        display: none;
    }

    .top-seller-descr {
        display: none;
    }
}


@media screen and (min-width: 768px) {
    .our-products {
        margin-bottom: 100px;
    }

    .our-products-title {
        margin-bottom: 50px;
    }

    .our-products-item {
        width: 270px;
        padding: 32px 20px;
    }

    .swiper-slide {
        width: 270px !important;
    }
}

@media screen and (min-width: 1200px) {
    .our-products {
        margin-bottom: 128px;
    }
}